@import url(https://fonts.googleapis.com/css?family=Nunito);html {
  height: 100%;
  box-sizing: border-box;
  background-size: cover;
  background: url(/images/bg.png?383fc1f703da9b79b7aab0fae970b661) center;
  font-family: "Nunito", sans-serif !important;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
}

mycroft-cli .nunito {
  font-family: "Nunito", sans-serif !important;
}

h1 {
  font-family: "Nunito", sans-serif !important;
}

.reddit {
  color: #ff4500;
}

.btn-reddit {
  background-color: #ff4500 !important;
}

.btn-osu {
  background-color: #FF66AB !important;
  color: #ffffff;
}

.btn-osu:hover {
  color: #ffffff;
}

.link {
  text-decoration: none;
}

.card-image {
  width: 100%;
}

#footertext {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.medal-platinum {
  -webkit-filter: invert(99%) sepia(35%) saturate(3269%) hue-rotate(168deg) brightness(100%) contrast(104%) !important;
          filter: invert(99%) sepia(35%) saturate(3269%) hue-rotate(168deg) brightness(100%) contrast(104%) !important;
}

.medal-gold {
  -webkit-filter: invert(55%) sepia(100%) saturate(366%) hue-rotate(5deg) brightness(100%) contrast(90%) !important;
          filter: invert(55%) sepia(100%) saturate(366%) hue-rotate(5deg) brightness(100%) contrast(90%) !important;
}

.medal-silver {
  -webkit-filter: invert(77%) sepia(0%) saturate(1%) hue-rotate(123deg) brightness(102%) contrast(89%) !important;
          filter: invert(77%) sepia(0%) saturate(1%) hue-rotate(123deg) brightness(102%) contrast(89%) !important;
}

