
// Body
$body-bg: #E6E6EA;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #0F7AE5;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #61E294;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #131200;

// Brands
$reddit: #ff4500;
$osu: #FF66AB;
