
// Body
$body-bg: #E6E6EA;
$highlights-bg: #1F1F1F;
$highlights-surface: #1F1F1F;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$secondary: #d9d9d9;

// Brands
$reddit: #ff4500;
$osu: #FF66AB;

// Misc
$green: #61E294;
