
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

body {
    background-image: url("../img/bg.png");
    font-family: 'Nunito', sans-serif
}

.nunito {
    font-family: 'Nunito', sans-serif !important;
}

.reddit {
    color: #ff4500;
}

.btn-reddit {
    @include button-variant($reddit, darken($reddit, 7.5%), darken($reddit, 10%), lighten($reddit,5%), lighten($reddit, 10%), darken($reddit,30%));
}

.btn-osu {
    @include button-variant($osu, darken($osu, 7.5%), darken($osu, 10%), lighten($osu,5%), lighten($osu, 10%), darken($osu,30%));
}

.table-width { width: 100%; }

.searchbar {
    width: 15em;
}

.link {
    text-decoration: none;
}
