
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

html {
    height: 100%;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("../img/bg.png") center;
    font-family: 'Nunito', sans-serif !important;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
}

.nunito {
    font-family: 'Nunito', sans-serif !important;
}

h1 {
    font-family: 'Nunito', sans-serif !important;
}

.reddit {
    color: #ff4500;
}

.btn-reddit {
    background-color: $reddit !important;
}

.btn-osu {
    background-color: $osu !important;
    color: #ffffff;
}

.btn-osu:hover {
    color: #ffffff;
}

.link {
    text-decoration: none;
}

.card-image {
    width: 100%;
}

#footertext {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}


