
// Fonts
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    /* IE9 Compat Modes */
    src: url('../fonts/nunito/Nunito-Regular.ttf');
}

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

html {
    height: 100%;
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("../img/bg.png") center;
    font-family: 'Nunito', sans-serif !important;
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
}

.nunito {
    font-family: 'Nunito', sans-serif !important;
}

h1 {
    font-family: 'Nunito', sans-serif !important;
}

.reddit {
    color: $reddit !important;
}

.osu {
    color: $osu !important;
}


.btn-reddit {
    background-color: $reddit !important;
    color: $white !important;
}

.btn-osu {
    background-color: $osu !important;
    color: #ffffff;
}

.btn-osu:hover {
    color: #ffffff;
}

.link {
    text-decoration: none;
}

.card-image {
    width: 100%;
    border-radius: 10px;
}

#footertext {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.footer-link {
    display: flex;
    justify-content: center;

    &-fab {
        display: flex !important;
        align-items: center !important;
    }
}

.footer-icon {
    width: 15px;
    z-index: -1;
}

.medal-platinum {
    filter: invert(99%) sepia(35%) saturate(3269%) hue-rotate(168deg) brightness(100%) contrast(104%) !important;
}

.medal-gold {
    filter: invert(55%) sepia(100%) saturate(366%) hue-rotate(5deg) brightness(100%) contrast(90%) !important;
}

.medal-silver {
    filter: invert(77%) sepia(0%) saturate(1%) hue-rotate(123deg) brightness(102%) contrast(89%) !important;
}

.recent-activity {
    color: $green;

    &__col {
        width: 12px;
    }
}

.uk-card {
    border-radius: 10px;
}

.uk-button, .uk-search-input {
    border-radius: 5px;
}

.highlights {
    &-bg {
        background-color: $highlights-bg;
    }

    &-maptitle {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &-container {
            display: flex;
            max-width: 87%;
        }
    }

    &-mapdiff {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .uk-badge {
        background-color: $reddit !important;
        color: $white !important;
        padding: 13px;
        margin-right: 10px;
    }

    .trend {
        &-up {
            color: $green;
        }

        &-down {
            color: red;
        }
    }

    .footer {
        margin: unset;

        p {
            margin: unset;
        }
    }
}

.index-title {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: puff-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-23 23:23:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}




